
<%= form_for(@post, html: { multiple: true }) do |f| %>
  <% if @post.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titre %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contenu %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Valider", class: 'btn btn-primary' %>
  </div>

   <%= f.fields_for :pictures do |picture_form| %>
    <div class="form-group">
    <%= picture_form.file_field :image %>
    </div>
    <% end %>

<% end %>


<form action="/media-upload" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="fallback">
    <input name="file" type="file" multiple/>
  </div>
</form>

